@import "tailwindcss";

:root {
  --background: #FAFAFA;
  --foreground: #1E1E1E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-common: var(--font-lexend);
  --font-title: var(--font-league-gothic);
}

.text-outline {
  -webkit-text-stroke: 0.3vh var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}